#posts-index img,
#posts-show img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

#root {
  background: url("./assets/ep_naturalblack.png");
  color: white;
}

.box {
  margin: 5px;
}

.submit {
  margin: 5px;
}

.submit:hover {
  cursor: pointer;
  background-color: transparent;
  color: white;
}

